.pageSection {
  height: 100%;
  width: 100%;
  padding: 0 !important;
  position: relative;
}

.card {
  position: absolute;
  left: 0;
  top: 0;
  box-shadow: 6px 6px 20px 0px rgba(0,0,0,0.5) !important;
  width: 24.5rem;
  transition: height 0.3s ease-in-out;
  overflow: hidden;
}

.parcelDetails p:not(:last-child) {
  margin-bottom: 0 !important;
}
