.formGroup label {
  border-top: 1px solid gray;
  font-size: var(--pf-global--FontWeight--normal);
  line-height: var(--pf-global--LineHeight--md);
  margin-top: 0.75rem;
  margin-bottom: 0.35rem;
  padding-top: 0.75rem;
  width: 100%;
}

.actionGroup {
  margin-top: 0 !important;
}
